# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
